__pycache__/
*.py[cod]
*$py.class
*.log
active_pool.json
bot_ids.json
bot_names.json
mm2_farm_stats.txt
errors.json
ignored_accounts.json
accounts.txt
accounts_pool.txt
config.json
blocked_pairs.json
done.txt
